body {
    font-family: Arial, sans-serif;
  }
  
  .horizontal .horizontalNav {
    border: 1px solid black;
    height: 50px;
    padding: 10px;
    width: 285px;
    padding-right: 0px;
  }
  
  .horizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
  }
  
  .horizontal li {
    float: left;
  }
  
  .horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid blue;
  }
  
  .horizontal li a:hover {
    background-color: #111;
  }
  .horizontal .home-2 {
    background-color: #808080;
  }
  
  .horizontal a:not(.home-2) {
    background-color: #d3d3d3;
    color: blue;
  }
  
  .verticalNav {
    border: 1px solid black;
    width: 280px;
    height: 220px;
  }
  
  .verticalNav li {
    padding-top: 10px;
    padding-left: 10px;
    list-style-type: none;
    background-color: #add9e6;
    padding-bottom: 10px;
    /* border: 1px solid black; */
  }
  
  .verticalNav nav {
    width: 280px;
  }
  
  .verticalNav li:last-child {
    padding-bottom: 22px;
  }
  
  .verticalNav a {
    text-decoration: none;
  }
  
  .verticalNav li:first-child {
    background-color: #fea500;
  }
  
  .verticalNav ul {
    padding-left: 5px;
    padding-right: 5px;
  }